.products {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 581px 581px;
    grid-gap: 30px;
    justify-content: center;

    @media (min-width: 768px) and (max-width: 1140px) {
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 580px);
        grid-gap: 16px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        grid-template-columns: 360px;
        grid-template-rows: repeat(6, 580px);
        grid-row-gap: 16px;
    }

    @media (min-width: 320px) and (max-width: 1140px) {
        &__cart-none {
            display: none !important;
        }
    }

    &__cart {
        display: flex;
        flex-direction: column;
        background: #F8F8F8;

        &:hover .products__cart-add_dark {
            display: flex;
        }
    }

    &__cart-add {
        position: relative;

        img {
            display: block;
        }

        &_dark {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(58, 56, 56, 0.86);
            display: none;
            justify-content: center;
            align-items: center;
        }
    }

    &__button {
        padding: 10px 14px;
        font-size: 14px;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        background: none;
        display: flex;

        img {
            margin-right: 11px;
            width: 26px;
            height: 24px;
            margin-top: -4px;
        }
    }

    &__text {
        margin: 25px 26px 20px 16px;
    }

    &__text-heading a {
        text-decoration: none;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }

    &__text-description {
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        margin-top: 13px;
        margin-bottom: 16px;
    }

    &__price {
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }

    &__button_bottom {
        display: flex;
        justify-content: center;
        margin-top: 48px;

        a {
            padding: 14px 39px 14px 39px;
            font-size: 16px;
            line-height: 19px;
            border: 1px solid #FF6A6A;
            background: white;
            text-decoration: none;
            color: #F26376;
            display: block;
            height: 100%;

            &:hover {
                color: white;
                background: #F26376;
            }
        }
    }
}