@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "_header.scss";
@import "_footer.scss";
@import "_subscribe.scss";
@import "_servises.scss";
@import "_products.scss";
@import "_new-arrivals.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}

.top-menu {
    position: relative;
}

.brandDark {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.menu {
    width: 232px;
    height: inherit;
    background: white;
    margin-left: auto;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 37px 24px;
    box-sizing: border-box;
    position: relative;
    max-height: inherit;
    overflow: auto;

    &__close {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        margin-bottom: 16px;
    }

    &__unit a {
        display: block;
        font-size: 14px;
        line-height: 33px;
        color: #6f6e6e;
        text-decoration: none;
        box-sizing: border-box;
        margin-left: 21px;
    }

    &__header {
        font-size: 14px;
        line-height: 33px;
        color: #f16d7f;
    }
}

.brandWrap {
    display: flex;
    background: #F1E4E6;

    >div {
        width: 50%;
    }

    &__left img {
        display: block;
        width: 100%;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        &__left {
            display: none;
        }

        &__right {
            min-height: 363px;
            min-width: 100%;
        }
    }

    &__right {
        display: flex;

        p {
            font-weight: 900;
            font-size: 44px;
            line-height: 53px;
            color: #222222;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            align-self: center;
            padding-left: 16px;
            margin-left: 40px;

            span {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;

                span {
                    color: #F16D7F;
                }
            }
        }

        @media (min-width: 1600px) {
            p {
                font-size: 48px;
                line-height: 58px;
                margin-left: 64px;

                span {
                    font-size: 32px;
                    line-height: 38px;
                }
            }
        }

        @media (min-width: 320px) and (max-width: 767px) {
            p {
                font-size: 38px;
                line-height: 46px;

                span {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }

    .line {
        border-left: 12px solid #F16D7F;
    }
}

.offer {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    grid-gap: 30px;
    justify-content: center;

    @media (min-width: 768px) and (max-width: 1140px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 167px 116px;
        gap: 20px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        grid-template-columns: 343px;
        grid-template-rows: repeat(3, 247px) 111px;
        row-gap: 32px;
    }

    .accesories {
        grid-column: 1/-1;
    }

    >div {
        position: relative;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__text {
        position: relative;
        z-index: 1;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 19px;

        &_bottom {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #f16d7f;
        }
    }

}

.margin-offer {
    margin-top: 65px;
    margin-bottom: 70px;

    @media (min-width: 768px) and (max-width: 1599px) {
        margin-top: 20px;
        margin-bottom: 155px;
    }

    @media (min-width: 320px) and (max-width: 1599px) {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.main__products {
    margin-bottom: 95px;

    @media (min-width: 768px) and (max-width: 1599px) {
        margin-bottom: 65px;
    }
}

.main-heading-products {
    text-align: center;
    margin-bottom: 48px;

    @media (min-width: 768px) and (max-width: 1140px) {
        margin-bottom: 72px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        margin-bottom: 65px;
    }

    h1 {
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        margin-bottom: 6px;
    }

    h2 {
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
    }
}

.filters {
    .container {
        display: flex;
        justify-content: space-between;
        padding: 38px 0 64px 0;

        @media (min-width: 768px) and (max-width: 1599px) {
            padding: 24px 16px 40px 16px;
        }

        @media (min-width: 320px) and (max-width: 767px) {
            padding: 24px 8px 32px 8px;
        }
    }

    &__left {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        position: relative;
    }

    &__icon {
        margin-left: 11px;

        @media (min-width: 320px) and (max-width: 767px) {
            width: 37px;
            height: 25px;
        }

        &_pink {
            left: 70px;
            top: 23px;
            z-index: 2;
            position: relative;
        }
    }

    &__label {
        position: relative;
        cursor: pointer;
        z-index: 2;

        @media (min-width: 320px) and (max-width: 767px) {
            display: none;
        }

        &_pink {
            position: absolute;
            color: #ef5b70 !important;
            left: 16px;
            top: 24px;
        }
    }

    &__pop-up {
        padding: 36px 15px 16px 18px;
        width: 360px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        position: absolute;
        z-index: 1;
    }

    &__category {

        &:not(:first-child) {
            margin-top: 24px;
        }

        a {
            display: block;
            text-decoration: none;
            color: #6F6E6E;

            &:not(:last-child) {
                margin-bottom: 11px;
            }
        }
    }

    &__heading {
        color: #EF5B70;
        border-bottom: 1px solid #EBEBEB;
        padding-left: 11px;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    .line-pink {
        border-left: 5px solid #EF5B70;
    }

    &__right {
        display: flex;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        @media (min-width: 320px) and (max-width: 767px) {
            font-size: 12px;
            line-height: 14px;
        }

        >div:not(:last-child) {
            margin-right: 28px;
        }

        img {
            margin-left: 8px;
        }

        .size {
            position: relative;
            cursor: pointer;

            &__menu {
                position: absolute;
                line-height: 16px;
                width: 79px;
                height: 103px;
                margin-top: 12px;
                background: #FFFFFF;
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                z-index: 1;

                p {
                    margin-bottom: 7px;
                    margin-left: 9px;
                    margin-top: 7px;
                }
            }
        }
    }
}

.pagination {
    width: 284px;
    height: 44px;
    margin: 0 auto;
    border: 1px solid #EBEBEB;
    margin-top: 48px;
    margin-bottom: 96px;
    padding: 15px 16px 15px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;

    @media (min-width: 320px) and (max-width: 1140px) {
        margin-top: 40px;
        margin-bottom: 64px;
    }

    a {
        text-decoration: none;
        font-weight: 300;
        font-size: 16px;
        color: #c4c4c4;

        &:hover {
            color: #EF5B70;
        }
    }
}

.product-top-img {
    background: #F7F7F7;
    display: flex;
    border: 1px solid #eaeaea;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 768px) and (max-width: 1140px) {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        @media (min-width: 320px) and (max-width: 767px) {
            width: 300px;
            margin-top: 85px;
            margin-bottom: 85px;
            object-fit: cover;
        }

        @media (min-width: 1141px) {
            margin-top: 11px;
        }
    }

    .sliderLeftArrow,
    .sliderRightArrow {
        display: block;
        align-self: center;
        background-color: rgba(42, 42, 42, 0.15);
        width: 47px;
        height: 47px;
        background-repeat: no-repeat;
        background-position: center center;
        text-decoration: none;
        cursor: pointer;
    }

    .sliderLeftArrow {
        background-image: url(../images/product/leftArrow.svg);

        &:hover {
            background-image: url(../images/product/leftArrowHover.svg);
        }
    }

    .sliderRightArrow {
        background-image: url(../images/product/rightArrow.svg);

        &:hover {
            background-image: url(../images/product/rightArrowHover.svg);
        }
    }
}

.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #EAEAEA;
    padding-top: 65px;
    padding-bottom: 64px;
    background: white;

    @media (min-width: 1600px) {
        margin-top: -64px;
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }

    &__info-top {
        text-align: center;

        h2 {
            font-size: 14px;
            line-height: 17px;
            color: #F16D7F;
            margin-bottom: 12px;
        }

        .line-pink {
            width: 63px;
            height: 3px;
            margin: 0 auto 12px;
            background: #EF5B70;
        }

        h3 {
            font-size: 18px;
            line-height: 22px;
            color: #4D4D4D;
        }

        p {
            font-size: 14px;
            line-height: 17px;
            color: #5E5E5E;
            max-width: 555px;
            margin: 48px auto 32px;

            @media (min-width: 320px) and (max-width: 767px) {
                max-width: 326px;
            }
        }

        .price {
            font-size: 24px;
            line-height: 29px;
            color: #EF5B70;
        }

        .grey-line {
            width: 642px;
            height: 1px;
            background: #EAEAEA;
            margin: 65px auto;

            @media (min-width: 320px) and (max-width: 767px) {
                width: 175px;
                margin: 32px auto 49px;
            }
        }
    }

    &__info-bottom {
        display: flex;
        flex-direction: column;

        .sort {
            display: flex;

            >div:not(:last-child) {
                margin-right: 23px;
            }

            a {
                text-decoration: none;
                font-size: 14px;
                line-height: 17px;
                color: #6F6E6E;

                @media (min-width: 320px) and (max-width: 767px) {
                    font-size: 10px;
                    line-height: 12px;
                }
            }

            img {
                margin-left: 9px;
            }
        }
    }

    &__button {
        align-self: center;
        margin-top: 48px;

        @media (min-width: 320px) and (max-width: 767px) {
            margin-top: 64px;
        }

        button {
            padding: 14px 53px 12px 0;
            border: 1px solid #FF6A6A;
            background: none;
            font-size: 16px;
            line-height: 19px;
            color: #F26376;
            display: flex;
            cursor: pointer;

            img {
                display: block;
                margin-right: 23px;
                margin-left: 24px;
                margin-top: -3px;
            }
        }
    }
}

.cart-info {
    display: flex;
    flex-direction: column;

    @media (min-width: 1141px) {
        display: flex;
        flex-direction: row;
    }

    &__left {
        >div:nth-child(2) {
            margin-top: 40px;
            margin-bottom: 72px;
        }

        @media (min-width: 320px) and (max-width: 767px) {
            >div:nth-child(2) {
                margin-top: 32px;
                margin-bottom: 30px;
            }
        }

        .page {
            display: flex;
            background: #FFF;
            filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
            position: relative;

            &:before {
                width: 18px;
                height: 18px;
                content: '';
                display: block;
                position: absolute;
                top: 23px;
                right: 22px;
                background: url(../images/menuClose.svg) no-repeat;
                background-size: 100%;
            }

            @media (min-width: 320px) and (max-width: 767px) {
                &:before {
                    width: 10px;
                    height: 11px;
                    content: '';
                    top: 17px;
                    right: 12px;
                }
            }

            @media (min-width: 768px) {
                min-width: 652px;
            }

            img {
                width: 262px;
                height: 306px;

                @media (min-width: 320px) and (max-width: 767px) {
                    width: 143px;
                    height: 188px;
                }
            }

            &__text {
                margin-top: 22px;
                margin-left: 31px;

                @media (min-width: 320px) and (max-width: 767px) {
                    margin-top: 14px;
                    margin-left: 17px;
                }

                h3 {
                    font-size: 24px;
                    line-height: 29px;
                    color: #222222;

                    @media (min-width: 320px) and (max-width: 767px) {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }

                .variables {
                    font-size: 22px;
                    line-height: 26px;
                    color: #575757;
                    margin-top: 42px;

                    >p:not(:first-child) {
                        margin-top: 6px;
                    }

                    @media (min-width: 320px) and (max-width: 767px) {
                        font-size: 14px;
                        line-height: 17px;
                        margin-top: 26px;

                        >p:not(:first-child) {
                            margin-top: 4px;
                        }
                    }

                    span {
                        color: #F26376;
                    }

                    input {
                        font-size: 18px;
                        line-height: 22px;
                        width: 44px;
                        height: 25px;
                        border: 1px solid #EAEAEA;
                        margin-left: 24px;
                        text-align: center;
                        color: #656565;

                        @media (min-width: 320px) and (max-width: 767px) {
                            font-size: 10px;
                            line-height: 12px;
                            width: 24px;
                            height: 15px;
                        }
                    }
                }
            }

        }
    }

    &__button {
        display: flex;
        justify-content: center;

        &:first-child {
            align-self: flex-start;
        }

        button {
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            padding: 17px 33px;
            border: 1px solid #A4A4A4;
            background: none;
            font-family: inherit;
            width: 225px;
            height: 50px;

            &:last-child {
                margin-left: 48px;
            }
        }

        @media (min-width: 320px) and (max-width: 767px) {
            button {
                padding: 9px 9px;
                width: 175px;
                height: 33px;
                font-size: 12px;
                line-height: 14px;
                color: #575757;
            }
        }

        @media (min-width: 1600px) {
            justify-content: space-between;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 768px) and (max-width: 1140px) {
            flex-direction: row;
            margin-top: 64px;
        }

        @media (min-width: 1141px) {
            width: 360px;
            justify-content: start;
            margin-left: 80px;
        }

        .forms {
            display: flex;
            flex-direction: column;

            @media (min-width: 768px) and (max-width: 1140px) {
                flex-grow: 1;
            }

            @media (min-width: 320px) and (max-width: 767px) {
                margin-top: 48px;
            }

            input {
                border: 1px solid #A4A4A4;
                padding: 13px 0 16px 17px;
                box-sizing: border-box;
                margin-top: 20px;
                display: block;
                height: 45px;

                &::placeholder {
                    font-size: 13px;
                    line-height: 16px;
                    color: #222;
                    font-family: inherit;
                }
            }

            button {
                width: 101px;
                height: 35px;
                font-size: 11px;
                line-height: 13px;
                color: #4A4A4A;
                padding-top: 10px;
                padding-bottom: 12px;
                margin-top: 23px;
                background: none;
                border: 1px solid #A4A4A4;
            }

            @media (min-width: 1600px) {
                flex-grow: 0;
            }

            h1 {
                font-size: 16px;
                line-height: 19px;
                color: #222222;
            }
        }

        .checkout {
            background: #F5F3F3;
            height: 214px;

            @media (min-width: 768px) and (max-width: 1599px) {
                width: 360px;
            }

            @media (min-width: 768px) and (max-width: 1140px) {
                margin-left: 15px;
                margin-top: 61px;
            }

            @media (min-width: 320px) and (max-width: 767px) {
                margin-top: 48px;
                max-width: 360px;
                align-self: center;
            }

            @media (min-width: 1141px) {
                margin-top: 57px;
            }

            button {
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                background: #F16D7F;
                padding: 15px 15px;
                box-sizing: border-box;
                border: none;
                display: block;
                margin: 0 auto;
                max-width: 273px;
            }

            &__text {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                p:first-child {
                    font-size: 11px;
                    line-height: 13px;
                    color: #4A4A4A;
                    margin-top: 39px;
                    margin-right: 34px;
                }

                p:last-child {
                    font-size: 16px;
                    line-height: 19px;
                    color: #222222;
                    margin-top: 12px;
                    margin-right: 37px;

                    span {
                        color: #F16D7F;
                        font-weight: 700;
                    }
                }

                span {
                    margin-left: 20px;
                }
            }
        }

        .cart-grey-line {
            height: 1px;
            width: 275px;
            background: #E2E2E2;
            margin: 21px auto 17px;
        }
    }
}

.cart-info-margin {
    @media (min-width: 320px) and (max-width: 767px) {
        margin: 39px 8px 96px 8px;
    }

    @media (min-width: 768px) and (max-width: 1140px) {
        margin: 59px 17px 147px 17px;
    }

    @media (min-width: 1141px) {
        margin-top: 96px;
        margin-bottom: 128px;
    }

    @media (min-width: 1141px) and (max-width: 1599px) {
        margin-left: 20px;
    }
}

.registration {
    .container {
        display: flex;
        justify-content: space-between;

        @media (min-width: 320px) and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__left {
        flex-grow: 1;

        p {
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
            font-weight: 300;
            margin-top: 15px;
            margin-bottom: 39px;
            max-width: 359px;
        }

        .forms {
            button {
                width: 167px;
                height: 50px;
                background-color: #F16D7F;
                border: none;
                box-sizing: border-box;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
            }

            &__input-text {
                width: 100%;
                height: 45px;
                border: 1px solid #A4A4A4;
                box-sizing: border-box;
                padding: 12px 17px;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #B1B1B1;
                margin-top: 20px;

                &::-webkit-input-placeholder {
                    font-family: inherit;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 16px;
                    color: #B1B1B1;
                }

                &::-moz-placeholder {
                    font-family: inherit;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 16px;
                    color: #B1B1B1;
                }

                &:-ms-input-placeholder {
                    font-family: inherit;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 16px;
                    color: #B1B1B1;
                }

                &:-moz-placeholder {
                    font-family: inherit;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 16px;
                    color: #B1B1B1;
                }
            }

            &__input-radio {
                display: flex;
                align-items: center;
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                color: #000000;
                margin-top: 31px;
                margin-bottom: 33px;

                input {
                    margin-right: 10px;
                }

                span:not(:first-of-type) {
                    margin-left: 20px;
                }

                @media (min-width: 1600px) {
                    span:last-child {
                        display: none;
                    }
                }
            }
        }
    }

    &__heading {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }

    &__right {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        max-width: 358px;

        @media (min-width: 320px) and (max-width: 767px) {
            margin-top: 40px;
        }

        @media (min-width:768px) and (max-width: 1599px) {
            margin-left: 20px;
        }

        @media (min-width: 1600px) {
            margin-left: 128px;
            font-size: 24px;
            line-height: 29px;
            max-width: 652px;
        }

        p {
            margin-top: 32px;
            margin-bottom: 22px;

            @media (min-width: 1600px) {
                margin-top: 22px;
            }
        }

        ul {
            list-style-image: url(../images/registration/spisok_registration.svg);
            margin-left: 30px;

            >li:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }
}

.registration-margin {
    margin: 64px 96px;

    @media (min-width: 768px) and (max-width: 1599px) {
        margin: 40px 16px 96px 16px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        margin: 40px 8px 96px 8px;
    }
}