@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "_header.scss";
@import "_footer.scss";
@import "_subscribe.scss";
@import "_servises.scss";
@import "_products.scss";
@import "_new-arrivals.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}

.top-menu {
    position: relative;
}

.brandDark {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.menu {
    width: 232px;
    height: inherit;
    background: white;
    margin-left: auto;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 37px 24px;
    box-sizing: border-box;
    position: relative;
    max-height: inherit;
    overflow: auto;

    &__close {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        margin-bottom: 16px;
    }

    &__unit a {
        display: block;
        font-size: 14px;
        line-height: 33px;
        color: #6f6e6e;
        text-decoration: none;
        box-sizing: border-box;
        margin-left: 21px;
    }

    &__header {
        font-size: 14px;
        line-height: 33px;
        color: #f16d7f;
    }
}

.brandWrap {
    display: flex;
    background: #F1E4E6;

    >div {
        width: 50%;
    }

    &__left img {
        display: block;
        width: 100%;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        &__left {
            display: none;
        }

        &__right {
            min-height: 363px;
            min-width: 100%;
        }
    }

    &__right {
        display: flex;

        p {
            font-weight: 900;
            font-size: 44px;
            line-height: 53px;
            color: #222222;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            align-self: center;
            padding-left: 16px;
            margin-left: 40px;

            span {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;

                span {
                    color: #F16D7F;
                }
            }
        }

        @media (min-width: 1600px) {
            p {
                font-size: 48px;
                line-height: 58px;
                margin-left: 64px;

                span {
                    font-size: 32px;
                    line-height: 38px;
                }
            }
        }

        @media (min-width: 320px) and (max-width: 767px) {
            p {
                font-size: 38px;
                line-height: 46px;

                span {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }

    .line {
        border-left: 12px solid #F16D7F;
    }
}

.offer {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    grid-gap: 30px;
    justify-content: center;

    @media (min-width: 768px) and (max-width: 1140px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 167px 116px;
        gap: 20px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        grid-template-columns: 343px;
        grid-template-rows: repeat(3, 247px) 111px;
        row-gap: 32px;
    }

    .accesories {
        grid-column: 1/-1;
    }

    >div {
        position: relative;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__text {
        position: relative;
        z-index: 1;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 19px;

        &_bottom {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #f16d7f;
        }
    }

}

.margin-offer {
    margin-top: 65px;
    margin-bottom: 70px;

    @media (min-width: 768px) and (max-width: 1599px) {
        margin-top: 20px;
        margin-bottom: 155px;
    }

    @media (min-width: 320px) and (max-width: 1599px) {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.main__products {
    margin-bottom: 95px;

    @media (min-width: 768px) and (max-width: 1599px) {
        margin-bottom: 65px;
    }
}

.main-heading-products {
    text-align: center;
    margin-bottom: 48px;

    @media (min-width: 768px) and (max-width: 1140px) {
        margin-bottom: 72px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        margin-bottom: 65px;
    }

    h1 {
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        margin-bottom: 6px;
    }

    h2 {
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
    }
}

.filters {
    .container {
        display: flex;
        justify-content: space-between;
        padding: 38px 220px 64px 230px;

        @media (min-width: 768px) and (max-width: 1140px) {
            padding: 24px 16px 40px 16px;
        }

        @media (min-width: 320px) and (max-width: 767px) {
            padding: 24px 8px 32px 8px;
        }
    }

    &__left {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        position: relative;
    }

    &__icon {
        margin-left: 11px;

        @media (min-width: 320px) and (max-width: 767px) {
            width: 37px;
            height: 25px;
        }

        &_pink {
            left: 70px;
            top: 23px;
            z-index: 2;
            position: relative;
        }
    }

    &__label {
        position: relative;
        cursor: pointer;
        z-index: 2;

        @media (min-width: 320px) and (max-width: 767px) {
            display: none;
        }

        &_pink {
            position: absolute;
            color: #ef5b70 !important;
            left: 16px;
            top: 24px;
        }
    }

    &__pop-up {
        padding: 36px 15px 16px 18px;
        width: 360px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        position: absolute;
        z-index: 1;
    }

    &__category {

        &:not(:first-child) {
            margin-top: 24px;
        }

        a {
            display: block;
            text-decoration: none;
            color: #6F6E6E;

            &:not(:last-child) {
                margin-bottom: 11px;
            }
        }
    }

    &__heading {
        color: #EF5B70;
        border-bottom: 1px solid #EBEBEB;
        padding-left: 11px;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    .line-pink {
        border-left: 5px solid #EF5B70;
    }

    &__right {
        display: flex;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        @media (min-width: 320px) and (max-width: 767px) {
            font-size: 12px;
            line-height: 14px;
        }

        >div:not(:last-child) {
            margin-right: 28px;
        }

        img {
            margin-left: 8px;
        }

        .size {
            position: relative;
            cursor: pointer;

            &__menu {
                position: absolute;
                line-height: 16px;
                width: 79px;
                height: 103px;
                margin-top: 12px;
                background: #FFFFFF;
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                z-index: 1;

                p {
                    margin-bottom: 7px;
                    margin-left: 9px;
                    margin-top: 7px;
                }
            }
        }
    }
}

.pagination {
    width: 284px;
    height: 44px;
    margin: 0 auto;
    border: 1px solid #EBEBEB;
    margin-top: 48px;
    margin-bottom: 96px;
    padding: 15px 16px 15px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;

    @media (min-width: 320px) and (max-width: 1140px) {
        margin-top: 40px;
        margin-bottom: 64px;
    }

    a {
        text-decoration: none;
        font-weight: 300;
        font-size: 16px;
        color: #c4c4c4;

        &:hover {
            color: #EF5B70;
        }
    }
}

.product-top-img {
    background: #F7F7F7;
    display: flex;
    border: 1px solid #eaeaea;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 768px) and (max-width: 1140px) {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        @media (min-width: 320px) and (max-width: 767px) {
            width: 300px;
            margin-top: 85px;
            margin-bottom: 85px;
            object-fit: cover;
        }

        @media (min-width: 1141px) {
            margin-top: 11px;
        }
    }

    .sliderLeftArrow,
    .sliderRightArrow {
        display: block;
        align-self: center;
        background-color: rgba(42, 42, 42, 0.15);
        width: 47px;
        height: 47px;
        background-repeat: no-repeat;
        background-position: center center;
        text-decoration: none;
        cursor: pointer;
    }

    .sliderLeftArrow {
        background-image: url(../images/product/leftArrow.svg);

        &:hover {
            background-image: url(../images/product/leftArrowHover.svg);
        }
    }

    .sliderRightArrow {
        background-image: url(../images/product/rightArrow.svg);

        &:hover {
            background-image: url(../images/product/rightArrowHover.svg);
        }
    }
}